 
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
         body {
            background-image: url("https://varthana.com/school/wp-content/uploads/2024/04/B869-School.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;
            z-index: 1;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        }
        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0,0,0,0.6);
            z-index: -1;
        }
        form{
            
            padding: 30px 40px;
            background-image: linear-gradient(rgba(42, 165, 63, 0.621),rgba(128, 111, 0, 0.467) );
            width: 420px;
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.4);
        }

        h1{
            text-align: center;
            color: white;
            margin-bottom: 20px;
            font-size: 30px;
            text-shadow: 1px 1px 3px black;
        }

        input{
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            border: none;
            margin-bottom: 18px;
            font-size: 16px;
            outline: none;
            box-shadow: 0 0 3px rgba(0,0,0,0.4);
        }

        input:focus{
            box-shadow: 0 0 5px rgb(0, 0, 180);
        }

        button{
            width: 100%;
            padding: 12px;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            background-color: rgb(0, 0, 180);
            color: white;
            cursor: pointer;
            margin-top: 10px;
            transition: 0.3s;
        }

        button:hover{
            background-color: rgb(0, 0, 120);
        }

        p{
            text-align: center;
            margin-top: 15px;
            font-size: 28px;
            color: aliceblue;
        }
    
   