
       body {
        background-image: url("https://varthana.com/school/wp-content/uploads/2024/04/B869-School.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        z-index: 1;
        height: 100vh;
    }

    
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.6);  
        z-index: -1;  
    }

    .card-box {
        height: 200px;         
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        text-align: center;
    }
